/* src/components/AboutPage.css */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    background-color: #FFFFFF; 
  }
  
  .content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #353A4E; /* Your specified color */
    padding: 20px; /* Add some padding around the content */
    gap: 20px; /* This adds space between your text and image content */
    width: 80%; /* Adjust to desired width, e.g., 80% of the container width */
    max-width: 1200px; /* Or any maximum width you prefer */
    margin: 40px auto; /* This will add space top and bottom, and auto centers horizontally */
    border-radius: 12px; /* Optional, if you want rounded corners */
    height: 410px;
  }

  .content-section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #353A4E; /* Your specified color */
    padding: 20px; /* Add some padding around the content */
    gap: 20px; /* This adds space between your text and image content */
    width: 80%; /* Adjust to desired width, e.g., 80% of the container width */
    max-width: 1200px; /* Or any maximum width you prefer */
    margin: 40px auto; /* This will add space top and bottom, and auto centers horizontally */
    min-height: 200px;
    border-radius: 12px; /* Optional, if you want rounded corners */
  }

  .text-content {
    position: relative;
    z-index: 1;
    width: 40%; 
    margin-top: 100px;
    color: white;
    margin-left: 10px;
    padding: 20px; /* Adjust as needed */
    flex: 1;
  }

  .text-content2 {
    z-index: 1;
    width: 40%; 
    margin-bottom: 30px;
    color: white;
    margin-left: 600px;
    padding: 20px; /* Adjust as needed */
    flex: 1;
  }

    
  .text-content3 {
    position: relative;
    z-index: 1;
    width: 40%; 
    margin-top: 20px;
    margin-right: 600px;
    margin-bottom: 20px;
    color: white;
    margin-left: 10px;
    padding: 20px; /* Adjust as needed */
    flex: 1;
  }

  .content-section2 {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the text content to the right */
    position: relative;
    background-color: #353A4E; /* Adjust color as needed */
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    margin-top: 230px; /* Spacing from the previous content */
    z-index: 1; /* Ensure the stacking context starts here */
  }
  
  .image-content {
    width: 50%; 
    height: 400px; /* Adjust based on your actual content */
    background-size: cover;
    background-position: center;
    /* If you want a border-radius on the image, add it here */
  }

  .image-container {
    position: absolute;
    top: -50%; /* Adjust to have the desired amount of overflow */
    left: 26%; /* Half of the parent's width */
    transform: translateX(-50%); /* Center the image relative to the section */
    z-index: -1; /* Place the image behind the text content */
  }

  .image-container2 {
    position: absolute;
    top: -50%; /* Adjust to have the desired amount of overflow */
    right: 27%; /* Half of the parent's width */
    transform: translateX(50%); /* Center the image relative to the section */
    z-index: -1; /* Place the image behind the text content */
  }

  .overflow-image {
    display: block; /* Remove any default inline spacing */
    height: auto; /* Maintain aspect ratio */
    width: 100%; /* Set the width you want */
  }
  