.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --brand-temp-teal: #00ADB5;
  --white-hover: #DBE4EF;
}


.bgAnvil {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--white-hover);
  background-image: url('AnvilClose3Flipped.png');
  background-size: contain;
  background-position:100% 50px;
  background-repeat: no-repeat;
}


.bigWordmark {
  margin-bottom: 10%;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.textbox-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 5%;
  width: 1/2;
}
.formContainer {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    align-items: center;
    justify-content: center;
    padding-left: 5%;

}
.text-left-align {
  text-align: left;
}
.text-header {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 5%;

}
.text-par {
  font-size: 32px;
  margin-bottom: 5%;
}
.gray-rounded-rectangle {
  background-color: var(--white-hover);
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 4%;
  margin: 3%

}

.bg-white {
  background-color: white;
  width: 100%;
  height: 100%;
}
.button-brand-temp-teal {
  background-color: var(--brand-temp-teal);
  color: white; 
  border-radius: 16px; 
  width: 100%;
  border: none;
  padding: 16px 24px; 
  font-size: 20px; 
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;


}

.button:hover {
  opacity: 0.75;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
